<%- include('./partials/header') -%>

<header>
    
    <div class="headings">
      <h2>Land Blog!</h2>
      <h3> - write and share the blogs with your friends</h3>
      <a href="#" class="btn">View Blogs</a>
    </div>
  </header>


<%- include('./partials/footer') -%>