<%- include('./partials/header') -%>

<form>
    <h2>Log In</h2>

    <label for="email">E-mail</label>
    <input type="text" name="email">
    <div class="email error"></div>

    <label for="password">Password</label>
    <input type="password" name="password">
    <div class="password error"></div>
    
    <button class="btn">Log In</button>
</form>

<%- include('./partials/footer') -%>