<%- include('./partials/header') -%>

<form>
    <h2>Log In</h2>

    <label for="email">E-mail</label>
    <input type="text" name="email">
    <div class="email error"></div>

    <label for="password">Password</label>
    <input type="password" name="password">
    <div class="password error"></div>
    
    <button class="btn">Log In</button>
</form>

<script>
    const getErrorDiv = (field) => {
        return document.querySelector(`.${field}.error`);
    };

    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        
        const email = form.email.value;
        const password = form.password.value;
        
        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({email, password}),
                headers: { 'Content-Type': 'application/json' }
            });
            
            const data = await res.json();
            if(data.errors) {
                for (field in data.errors){
                    if(getErrorDiv(field)) getErrorDiv(field).textContent = data.errors[field];
                }
            }
            if(data.user){
                location.assign('/')
            }
            
        } catch (err) {
            console.error(err)
        }  
    })
</script>

<%- include('./partials/footer') -%>