<%- include('./partials/header') -%>

<form>
    <h2>Sign up</h2>
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <div class="name error"></div>

    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>

    <label for="password">Password</label>
    <input type="password" name="password" required>
    <div class="password error"></div>

    <button class="btn">Sign up</button>
</form>

<script>
    const getErrorDiv = (field) => {
        return document.querySelector(`.${field}.error`);
    };

    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset error divs
        getErrorDiv('name').textContent = "";
        getErrorDiv('email').textContent = "";
        getErrorDiv('password').textContent = "";

        const name = form.name.value;
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({name, email, password}),
                headers: { 'Content-Type': 'application/json' }
            });

            const data = await res.json();
            if(data.errors) {
                for (field in data.errors){
                    getErrorDiv(field).textContent = data.errors[field];
                }
            }
            if(data.user){
                location.assign('/')
            }

        } catch (err) {
            console.error(err);
        }
    })
</script>


<%- include('./partials/footer') -%>